/.idea/discord.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/onescan.iml
/.idea/misc.xml
/.idea/.gitignore
/database.db
!/tests/
/.idea/.name
/tests/scan/add.http
/tests/list/check.http
/tests/list/create.http
/.idea/dataSources.xml
/tests/list/delete.http
/tests/ping.http
/.idea/scancount.iml
/.idea/sqldialects.xml
.idea
tests
bin
lib
include
__pycache__
pyvenv.cfg
start.sh
